{% extends "base.html" %}
{% block title %}Kayıt Ol{% endblock %}

{% block content %}
<header>  <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}"></header>
<div class="register-container">
    <h2>Kayıt Ol</h2>
    <form method="post" action="/register">
        <input type="text" name="username" placeholder="Kullanıcı Adı" required>
        <input type="email" name="email" placeholder="Email" required>
        <input type="password" name="password" placeholder="Şifre" required>
        <button type="submit">Kayıt Ol</button>
    </form>
    <p class="auth-redirect">Zaten bir hesabın var mı? <a href="{{ url_for('login') }}">Giriş yap</a></p>
</div>
{% endblock %}
